@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'Fragments';
@import 'LHS';
@import 'RHS';

body {
  background-color: #000;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

main {
  background-color: #fff;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  height: 1169px;
  width: 827px;
}

h2 {
  text-transform: uppercase;
}

hr {
  margin: 1em 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}
