section.lhs {
  align-items: center;
  background: #181920;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

section.lhs h2 {
  font-size: 100%;
}

.profile-header {
  display: flex;
  height: 140px;
  justify-content: space-between;
}

.profile-image {
  display: flex;
  justify-content: center;

  img {
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #fcfcfd;
    width: 80%;
  }
}

.profile-name {
  font-size: 180%;
  margin: 0.5em 0 0.2em;
  text-align: center;
}

.profile-title {
  font-size: 80%;
  font-weight: bold;
  margin: 0.2em 0 0.8em;
  text-align: center;
}

.profile-address {
  font-size: 80%;
  margin-top: 1em;
  text-align: center;
}

.profile-contact-row {
  align-items: center;
  display: flex;
  padding: 0.1em 0;

  &__icon {
    font-size: 150%;
    padding-right: 0.4em;
  }

  &__value {
    font-size: 90%;
  }
}

.profile-summary {
  font-size: 90%;
  margin: 0.5em 0 0;
}

section.lhs h5 {
  margin: 0.5em 0;
}

.techstack-iconset {
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  svg {
    margin: 0.5em 0.2em;
  }
}

.techstack-iconset-entry {
  align-items: center;
  display: flex;

  &__label {
    font-size: 70%;
    margin-left: 0.1em;
  }
}

.techstack-block {
  margin: 1em 0;
}
