.profile {
  display: block;
}

.profile-header {
  display: flex;
  height: 140px;
  justify-content: space-between;
}

.profile-bio {
  // background: #bccdff;
  border-radius: 50px;
  display: flex;
}

.profile-bio-image {
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #000;
  height: 140px;
  margin-right: 1em;
}

.profile-bio-text {
  // padding: 1em 0;
}

.profile-bio-text-title {
  font-size: 120%;
  font-weight: bold;
  margin: 0.2em 0 0.8em;
}

.profile-bio-address {
  margin-top: 4px;
}

.profile-summary {
  // text-align: right;
}

.contact-row {
  align-items: center;
  display: flex;
  padding: 0.1em 0;

  &__icon {
    font-size: 120%;
    padding-right: 0.4em;
  }
}
