section.rhs {
  padding: 2em;
}

section.employment h2 {
  margin-top: 0;
}

.employment-entry,
.education-entry {
  padding-bottom: 1em;
}

.education-entry-table {
  column-gap: 1em;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  padding: 0.5em 0;
}

.role {
  color: #00f;
  font-size: 110%;
  font-weight: bold;
}

.company,
.education-entry-institution {
  font-size: 90%;
  font-weight: bold;
}

.education-entry-table-stage {
  font-weight: bold;
}

.location {
  font-size: 80%;
  font-style: italic;
}

.employment-entry-metadata {
  display: flex;
  justify-content: space-between;
}

.employment-entry-dates {
  font-size: 70%;
  font-weight: bold;
  position: relative;
  top: 3px;
  white-space: pre-wrap;
}

.description {
  font-size: 85%;
  padding-top: 0.5em;
}
