section.rhs {
  padding: 1.5em;
}

section.employment h2 {
  margin-top: 0;
}

%dates {
  font-size: 70%;
  font-style: italic;
  font-weight: bold;
  position: relative;
  top: 3px;
  white-space: pre-wrap;
}

.employment-entry,
.education-entry {
  border-left: 5px solid #2b2e33;
  margin-bottom: 1em;
  padding-left: 1em;
}

.employment-entry-role {
  color: #00f;
  font-size: 110%;
  font-weight: bold;
}

.employment-entry-company {
  font-size: 85%;
  font-weight: bold;
}

.employment-entry-location {
  font-size: 80%;
  font-style: italic;
}

.employment-entry-dates {
  @extend %dates;
}

.employment-entry-description {
  font-size: 85%;
  padding-top: 0.5em;
}

.education-entry {
  &-institution {
    color: #00f;
    font-size: 85%;
    font-weight: bold;
  }

  &-degree {
    font-size: 85%;
  }

  &-award {
    font-size: 85%;
    font-style: italic;
    font-weight: bold;
  }

  &-dates {
    @extend %dates;
  }

  &-table {
    column-gap: 1em;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    padding: 0.5em 0;

    &-stage {
      font-size: 80%;
      font-weight: bold;
    }

    &-grades {
      font-size: 80%;
    }
  }
}
